body {
    margin: 0;
}

.top-container{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(arena.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-container h1 {
    color: #fff;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.text {
    margin: 50px 5%;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    position: fixed;
    background: #fff;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin: 0 10px;
    font-family: cursive;
    color: black;
}

.navbar ul li a:hover{
    color: red;
}

.navbar.active {
    background: #000;
}

.navbar.active ul li a{
    color: #fff;
}